* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body{
    background-color: #e2e1df;
}

header{
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    height: 20%;
}

a {
    color: #6A3E37;
    text-decoration: none;
}

.componentes{
    display: flex;
    width: 100%;
    padding: 15px;
    border: solid 1px #6A3E37;
    border-radius: 45px;
    background-color: white;    
}
.componentes .divSimulador {
    background-color: #06BA63;
    border-radius: 8px;
    padding: 8px;
}

.logo img{
    width: 300px;
    
}

.logo{
        
    display: flex;
    justify-content: left;
    align-items: center;
        
}
.caminhos{
    color: #6A3E37;
    font-size: large;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    width: 100%;
    font-weight: bold;
   
}

.simule{
    display: flex;
    background-color: #06ba63;
    color: white;
    width: 130px;
    border-radius: 15px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.container-login{
    display: flex;
    margin-top: 250px;
    justify-content: center;
    
}
.caixa-login{
    background-color: #06ba63;
    width: 40%;
    height: 420px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: large;
    margin-right: 280px;
}
.container-login h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.campo p{
    margin-left: 100px;
    font-size: x-large;
}
input{
    box-shadow: none;
    outline: none;
    border: none;
}
#input_emailLogin{
    margin-left: 100px;
    width: 60%;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 5px;
}
#input_senhaLogin{
    margin-left: 100px;
    width: 60%;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 5px;
}
.botao{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
button{
    width: 250px;
    height: 40px;
    border-radius: 15px;
    border: none;
    color: #6a3e37;
    font-weight: bold;
    font-size: large;
    z-index: 999;
    position: relative;
    cursor: pointer;
}
button:hover{
    background-color: cyan;
}
.imagem{
    position: absolute;
    left: 55%;
    top: 30%;
    
}
#login_mensagem{
    display: flex;
    color: black;
    width: 50%;
    background-color: white;
    border: solid 2px black;
    margin-top: 10px;
    font-size: medium;
    text-align: center;
    justify-self: center;
    
    
}

footer{
   background-color: #6a3e37; 
   width: 100%;
   margin-top: 200px;
   color: white;
   font-weight: bold;
   
}
.footerConteudo{
    display: flex;
    height: 120px;
    
    
    
}
.logoFooter img{
    margin-left: 250px;
    margin-top: 40px;
    width: 200px;
}
.conteudo{
    font-size: medium;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    width: 100%;
    font-weight: bold;
    margin-right: 190px;
}
.caixa-login #mensagem{
    
    color: red;
    width: 50%;
    background-color: white;
    border: solid 2px black;
    margin-top: 10px;
    font-size: medium;
    text-align: center;
    justify-self: center;
    
}
.container-cadastro{
    display: flex;
    margin-top: 80px;
    justify-content: center;
    
}
.caixa-cadastro{
    background-color: #06ba63;
    width: 40%;
    height: 600px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: large;
    margin-right: 280px;
    justify-content:flex-start;
}
.container-cadastro h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.campo-cadastro p{
    margin-left: 100px;
    font-size: x-large;
}
.input_base{
    margin-left: 100px;
    width: 60%;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 5px;
}
/* #input_nomeEmpresa{
    margin-left: 100px;
    width: 60%;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 5px;
}
#input_cnpj{
    margin-left: 100px;
    width: 60%;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 5px;
}
#input_telefone{
    margin-left: 100px;
    width: 60%;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 5px;
}
#input_email{
    margin-left: 100px;
    width: 60%;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 5px;
}
#input_senha{
    margin-left: 100px;
    width: 60%;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 5px;
}
#input_confirmarSenha{
    margin-left: 100px;
    width: 60%;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 5px;
} */
.botaoCadastro{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.botaoCadastro button{
    background-color: #6a3e37;
    color: white;
}

.container-cadastroFuncionario{
    display: flex;
    margin-top: 80px;
    justify-content: center;
    
}
.caixa-cadastroFuncionario{
    background-color: #06ba63;
    width: 40%;
    height: 600px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: large;
    margin-right: 280px;
}
.container-cadastroFuncionario h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.campo-cadastroFuncionario p{
    margin-left: 100px;
    font-size: x-large;
}

#input_nomeFuncionario{
    margin-left: 100px;
    width: 60%;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 5px;
}

#input_cpf{
    margin-left: 100px;
    width: 60%;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 5px;
}
#input_acesso{
    margin-left: 100px;
    width: 60%;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 5px;
}

.botaoCadastroFuncionario{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.botaoCadastroFuncionario button{
    background-color: #6a3e37;
    color: white;
}

.footerConteudo .conteudo a {
    color: white;
}