* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #e2e1df;
}

/* Header */
header{
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    height: 20%;
}

header a {
    color: #6a3e37;
    text-decoration: none;
    transition: 0.5s;
}

header a:hover{
    font-size: 22px;
    color: #06BA63;
}

.componentes{
    display: flex;
    width: 100%;
    padding: 15px;
    border: solid 1px #6A3E37;
    border-radius: 20px;
    background-color: white;    
    box-shadow: 8px 8px 10px gray;
}

.logo img{
    width: 300px;
    
}

.logo{
        
    display: flex;
    justify-content: left;
    align-items: center;
        
}
.caminhos{
    color: #6A3E37;
    font-size: large;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    width: 100%;
    font-weight: bold;
}

.caminhos img{
    transition: 0.8s;
}

.caminhos img:hover{
    width: 50px;
}

/* Footer */
footer{
    background-color: #6a3e37; 
    width: 100%;
    margin-top: 70px;
    color: white;
    font-weight: bold;
}

.footerConteudo{
    display: flex;
    height: 120px;
}
.logoFooter img{
    margin-left: 250px;
    margin-top: 40px;
    width: 200px;
}

.footerConteudo .conteudo a  {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.footerConteudo .conteudo a:hover{
    font-size: 22px;
}

/* Simulador */
.conteudo{
    font-size: medium;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    width: 100%;
    font-weight: bold;
    margin-right: 190px;
}
.container-cadastro{
    display: flex;
    margin-top: 80px;
    justify-content: center;

}

.container {
    display: flex;
    justify-content: center;
}

.simulador-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 70%;
}

.card {
    background-color: #f5f5f5;
    border-radius: 15px;
    width: 70%;
    height: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 10px gray;
}

#div_msg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 70%;
    width: 70%;
}

.button_financeiro {
    background-color: #06ba63;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    color: white;
    transition: 1s;
}

.button_financeiro:hover{
    background-color: #005a2f;
}

.input_financeiro {
    outline: none;
    font-size: 16px;
    color: gray;
    width: 100%;
    border: 1px solid #6a3e37;
    border-radius: 15px;
    padding: 15px;
    background-color: #d9d9d9;
    transition: 1s;
}

.input_financeiro:hover{
    width: 102%;
    padding: 18px;
}

.container_mensagem{
    margin-bottom: 20px;
    border: 2px solid black;
    padding: 15px;
    border-radius: 15px;
    width: 80%;
}

.div_msg2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_msg2 a{
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
.sair{
    background-color: #06ba63;
}